﻿<div class="container-fluid">
	<h1 class="my-4">
		Analisador de Jogos
	</h1>
    <div class="card shadow mb-5" style="
    border-left: 2px solid var(--primary);
">
  
  <div class="card-body">
    
    <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        	<p class="mb-0">Este repositório contém uma análise de jogos com mais jogadores por data. O objetivo é identificar quais jogos têm atraído mais jogadores ao longo do tempo, fornecendo insights sobre tendências e popularidade de diferentes jogos.</p>
        </div>
    	<div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
			<img src="https://cdn.cloudflare.steamstatic.com/steam/apps/10/capsule_sm_120.jpg?t=1671578465" style="width: 100%;">
			<div><small><i>Imagem do jogo Counter Strike</i></small></div>
		</div>
	</div>
</div>
</div>
	<div class="card shadow mb-5" style="
    border-left: 2px solid var(--primary);
">
  
  <div class="card-body">
    
    <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        	<img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/capsule_sm_120.jpg?t=1680211940" style="
    width: 100%;
">
			<div><small><i>Imagem do jogo Team Fortress 2</i></small></div>
        </div><div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        	<p class="mb-0">Os dados utilizados para esta análise foram coletados de uma única fonte. Esses dados incluem informações sobre o número de jogadores ativos em diferentes jogos em datas específicas.

			</p>
        </div>
    </div>
  </div>
</div>
<div class="card shadow mb-5" style="
    border-left: 2px solid var(--primary);
">
  
  <div class="card-body">
    
    <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        	<p class="mb-0">Os resultados da análise revelaram insights interessantes sobre jogos com mais jogadores por data. Alguns jogos mostraram-se consistentemente populares ao longo do tempo, enquanto outros tiveram picos de popularidade em datas específicas, possivelmente devido a eventos especiais, lançamentos de expansões ou atualizações.</p>
        </div>
    	<div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
			<img src="https://cdn.cloudflare.steamstatic.com/steam/apps/4000/capsule_sm_120.jpg?t=1679941743" style="width: 100%;">
			<div><small><i>Imagem do jogo Garry's Mod</i></small></div>
		</div>
	</div>
</div>
</div>