﻿<div class="container-fluid">
	<h1 class="my-4">
		Descrição do Projeto
	</h1>
	<p>Este repositório contém uma análise de jogos com mais jogadores por data. O objetivo é identificar quais jogos têm atraído mais jogadores ao longo do tempo, fornecendo insights sobre tendências e popularidade de diferentes jogos. </p>
</br>
	<p>
		Os dados utilizados para esta análise foram coletados de uma única fonte. Esses dados incluem informações sobre o número de jogadores ativos em diferentes jogos em datas específicas.
	</p>
</br>
	<p>
		
		Os resultados da análise revelaram insights interessantes sobre jogos com mais jogadores por data. Alguns jogos mostraram-se consistentemente populares ao longo do tempo, enquanto outros tiveram picos de popularidade em datas específicas, possivelmente devido a eventos especiais, lançamentos de expansões ou atualizações.</p>
</div>