﻿<div
  class="row justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="col-lg-4 text-center">
    <svg
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
    </svg>
    <h2 class="fw-normal h2-name">Gabriel Peixoto</h2>
    <p>Back-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/GabrielP2324/"
        target="_blank"
        >View details about me! &raquo;
      </a>
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <svg
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
    </svg>
    <h2 class="fw-normal h2-name">João Vitor Miranda</h2>
    <p>Back-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/JvmMiranda/"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <svg
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
    </svg>
    <h2 class="fw-normal h2-name">Gabriel Zaude</h2>
    <p>Front-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/zauzaud"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
</div>

<!-- <div class="container-fluid">
	<h1 class="my-4">
		Sobre o Grupo
	</h1>

	<div class="card shadow my-4">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="grupo">
							Grupo
						</label>
						<input class="form-control" type="text" id="grupo" value="Grupo SteamDB" disabled />
					</div>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="integrantes">
							Integrantes
						</label>
						<input class="form-control" type="text" id="integrantes" value="Gabriel Peixoto, João Vitor e Gabriel Zaude" disabled />
					</div>
				</div>
			</div>	
		</div>
</div> -->
