﻿<div
  class="row justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="col-lg-4 text-center">
    <img
      src="https://avatars.githubusercontent.com/u/21304126?v=4"
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      alt="Foto do Integrante 1"
    />
    <h2 class="fw-normal h2-name">Gabriel Peixoto</h2>
    <p>Back-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/GabrielP2324/"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <img
      src=""
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      alt="Foto do Integrante 2"
    />
    <h2 class="fw-normal h2-name">João Vitor Miranda</h2>
    <p>Back-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/JvmMiranda/"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <img
      src="https://avatars.githubusercontent.com/u/87670655?v=4"
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      alt="Foto do Integrante 3"
    />
    <h2 class="fw-normal h2-name">Gabriel Zaude</h2>
    <p>Front-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/zauzaud"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
</div>
