﻿<div
  class="row justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="col-lg-4 text-center">
    <img
      src="/public/images/4f2b4410-28b3-4b9a-adb3-f173cb8dc61f.jpg"
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      alt="Foto do Integrante 1"
    />
    <h2 class="fw-normal h2-name">Gabriel Peixoto</h2>
    <p>Back-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/GabrielP2324/"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <img
      src="/public/images/398352f3-0006-48f7-a246-017bcd29e034.jpg"
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      alt="Foto do Integrante 2"
    />
    <h2 class="fw-normal h2-name">João Vitor Miranda</h2>
    <p>Back-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/JvmMiranda/"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <img
      src="/public/images/1683033568447.jpg"
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
      alt="Foto do Integrante 3"
    />
    <h2 class="fw-normal h2-name">Gabriel Zaude</h2>
    <p>Front-end dev.</p>
    <p>
      <a
        class="btn btn-secondary"
        href="https://github.com/zauzaud"
        target="_blank"
        >View details about me! &raquo;</a
      >
    </p>
  </div>
</div>
